<div class="box wide">    
  <%= render 'head' %>
  
   <div class="legend" style="float: right;">
      <a href="/balance/transactions">View Transactions</a>
  </div>
  
  <div class="legend">
    Actions 
  </div>

  <% if @actions.any? %>
    <table class="data zebra" width="100%" cellspacing=0>
      <tr>
        <th>Action</th>
        <th>From</th>
        <th>To</th>
        <th>Amount (BTC)</th>
        <th>Time</th>
      </tr>
      <% @actions.each do |act| %>
        <tr>
         <td>
            <% if act.tip? %>
              <% if act.comment_id %>
                <%= link_to 'tipped comment', act.comment.url %>
              <% elsif act.story_id %>
                <%= link_to 'tipped story', act.story.comments_url %>
              <% else %>
                <%= link_to 'tipped user', user_url(act.to) %>
              <% end %>
            <% elsif act.vote_id %>              
              <% if act.comment_id %>
                <%= link_to (act.to ? 'up' : 'down') << 'voted comment', act.comment.url %>
              <% else %>
                <%= link_to (act.to ? 'up' : 'down') << 'voted story', act.story.comments_url %>
              <% end %>
            <% elsif act.from_id %>
                <%= link_to 'submitted story', act.story.comments_url %>
            <% else %> 
                <%= link_to 'deleted story', act.story.comments_url %>
            <% end %>
          </td>          
          <td>
            <% if act.from_id %>
              <% not_user = act.from_id != @user.id %>
              <% unless act.anonymous && not_user %>
                <%= link_to act.from.username, user_url(act.from) %>
              <% end %>
              <% if act.anonymous && !not_user %>
                (anonymous)
              <% end %>
            <% end %>
          </td>
          <td>
            <% if act.to_id %>
              <%= link_to act.to.username, user_url(act.to) %>
            <% end %>
          </td>
 
          <td><%= act.amount %></td>
          <td><%= time_ago_in_words act.created_at %> ago</td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>You do not have any actions.</p>
  <% end %>
</div>
